<a href="https://colab.research.google.com/github/phucdzu/AI/blob/main/Bai_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = input('Nhap vao so thu 1:')

Nhap vao so thu 1:7

In [ ]:
value2 = input('Nhap vao so thu 2:')

Nhap vao so thu 23

In [ ]:
value1 + value2

In [ ]:
value1 = int(value1)
value2 = int(value2)

In [ ]:
value1 + value2

In [ ]:
# Write to file
with open('text1.txt',mode= 'w') as accounts:
  accounts.write('201461 Nguyen Van A 10\n')
  accounts.write('201462 Le Van B 6\n')
  accounts.write('201463 Tran Van C 8\n')

In [ ]:
with open('text2.txt',mode = 'w') as accounts:
  print('201461 Nguyen Van A', file= accounts)
  print('201462 Le Van B', file= accounts)
  print('201463 Tran Van C', file= accounts)

In [ ]:
with open('text3.txt', mode = 'v') as accounts:
  print(f''{'MSSV': <10} {'Name': <20} {'Score': >2}'')
  for record in accounts:
    mssv, name, score = record.split()
    print(f''{mssv:<10}{name:<20}{score:<2}'')

SyntaxError: ignored

In [ ]:
import pandas as pd
url ='tuan2.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    No      MSSV          Ho va ten             Khoa  Diem
0    1  20146518  BuiTruongVinhPhuc              CKM    10
1    2  20146519         NguyenVanA              CKM     9
2    3  20146520         NguyenVanB       Thoi Trang     8
3    4  20146521         NguyenVanA         Xay Dung     5
4    5  20146522         NguyenVanC             Dien     8
5    6  20146523         NguyenVanD              CKM     9
6    7  20146524         NguyenVanD         Xay Dung     6
7    8  20146525         NguyenVanE       Thoi Trang     6
8    9  20146526         NguyenVanG             Dien     9
9   10  20146527         NguyenVanH              CLC     9
10  11  21012348         NguyenVanP              CLC     8
11  12  21562829         NguyenVanP              CLC     6
12  13  21987373         NguyenVanP              CKD     8
13  14  22579807         NguyenVanK              CKD     9
14  15  22324811         NguyenVanJ  CNTP va Hoa hoc     9
15  16  19213082         NguyenVanV  CNTP va Hoa hoc     7
16  17  19230871         NguyenVanT  CNTP va Hoa hoc     5
17  18  19129482         NguyenVanX  CNTP va Hoa hoc     7

In [ ]:
dataframe.iloc[0:10]

   No      MSSV          Ho va ten        Khoa  Diem
0   1  20146518  BuiTruongVinhPhuc         CKM    10
1   2  20146519         NguyenVanA         CKM     9
2   3  20146520         NguyenVanB  Thoi Trang     8
3   4  20146521         NguyenVanA    Xay Dung     5
4   5  20146522         NguyenVanC        Dien     8
5   6  20146523         NguyenVanD         CKM     9
6   7  20146524         NguyenVanD    Xay Dung     6
7   8  20146525         NguyenVanE  Thoi Trang     6
8   9  20146526         NguyenVanG        Dien     9
9  10  20146527         NguyenVanH         CLC     9

In [ ]:
dataframe.iloc[:10]

   No      MSSV          Ho va ten        Khoa  Diem
0   1  20146518  BuiTruongVinhPhuc         CKM    10
1   2  20146519         NguyenVanA         CKM     9
2   3  20146520         NguyenVanB  Thoi Trang     8
3   4  20146521         NguyenVanA    Xay Dung     5
4   5  20146522         NguyenVanC        Dien     8
5   6  20146523         NguyenVanD         CKM     9
6   7  20146524         NguyenVanD    Xay Dung     6
7   8  20146525         NguyenVanE  Thoi Trang     6
8   9  20146526         NguyenVanG        Dien     9
9  10  20146527         NguyenVanH         CLC     9

In [ ]:
dataframe = dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['NguyenVanA']

            No      MSSV   Ho va ten      Khoa  Diem
Ho va ten
NguyenVanA   2  20146519  NguyenVanA       CKM     9
NguyenVanA   4  20146521  NguyenVanA  Xay Dung     5

In [ ]:
dataframe[dataframe['Ho va ten'] == 'NguyenVanA'].head(10)

            No      MSSV   Ho va ten      Khoa  Diem
Ho va ten
NguyenVanA   2  20146519  NguyenVanA       CKM     9
NguyenVanA   4  20146521  NguyenVanA  Xay Dung     5

In [ ]:
dataframe[(dataframe['Khoa']=='CKM')&(dataframe['Ho va ten']=='NguyenVanA')]

            No      MSSV   Ho va ten Khoa  Diem
Ho va ten
NguyenVanA   2  20146519  NguyenVanA  CKM     9

In [ ]:
dataframe['Khoa'].replace('CKM','Co khi may').head

<bound method NDFrame.head of Ho va ten
BuiTruongVinhPhuc         Co khi may
NguyenVanA                Co khi may
NguyenVanB                Thoi Trang
NguyenVanA                  Xay Dung
NguyenVanC                      Dien
NguyenVanD                Co khi may
NguyenVanD                  Xay Dung
NguyenVanE                Thoi Trang
NguyenVanG                      Dien
NguyenVanH                       CLC
NguyenVanP                       CLC
NguyenVanP                       CLC
NguyenVanP                       CKD
NguyenVanK                       CKD
NguyenVanJ           CNTP va Hoa hoc
NguyenVanV           CNTP va Hoa hoc
NguyenVanT           CNTP va Hoa hoc
NguyenVanX           CNTP va Hoa hoc
Name: Khoa, dtype: object>

In [ ]:
dataframe.replace('CKM','Co khi may').head

<bound method NDFrame.head of                    No      MSSV          Ho va ten             Khoa  Diem
Ho va ten
BuiTruongVinhPhuc   1  20146518  BuiTruongVinhPhuc       Co khi may    10
NguyenVanA          2  20146519         NguyenVanA       Co khi may     9
NguyenVanB          3  20146520         NguyenVanB       Thoi Trang     8
NguyenVanA          4  20146521         NguyenVanA         Xay Dung     5
NguyenVanC          5  20146522         NguyenVanC             Dien     8
NguyenVanD          6  20146523         NguyenVanD       Co khi may     9
NguyenVanD          7  20146524         NguyenVanD         Xay Dung     6
NguyenVanE          8  20146525         NguyenVanE       Thoi Trang     6
NguyenVanG          9  20146526         NguyenVanG             Dien     9
NguyenVanH         10  20146527         NguyenVanH              CLC     9
NguyenVanP         11  21012348         NguyenVanP              CLC     8
NguyenVanP         12  21562829         NguyenVanP              CLC     6
NguyenVanP         13  21987373         NguyenVanP              CKD     8
NguyenVanK         14  22579807         NguyenVanK              CKD     9
NguyenVanJ         15  22324811         NguyenVanJ  CNTP va Hoa hoc     9
NguyenVanV         16  19213082         NguyenVanV  CNTP va Hoa hoc     7
NguyenVanT         17  19230871         NguyenVanT  CNTP va Hoa hoc     5
NguyenVanX         18  19129482         NguyenVanX  CNTP va Hoa hoc     7>

In [ ]:
print('Diem cao nhat', dataframe['Diem'].max())

Diem cao nhat 10

In [ ]:
dataframe['Khoa'].unique()
dataframe['Khoa'].value_counts()

CNTP va Hoa hoc    4
CKM                3
CLC                3
Thoi Trang         2
Xay Dung           2
Dien               2
CKD                2
Name: Khoa, dtype: int64

In [ ]:
# Xóa 
dataframe.drop('MSSV', axis=1).head(10)

                   No          Ho va ten        Khoa  Diem
Ho va ten
BuiTruongVinhPhuc   1  BuiTruongVinhPhuc         CKM    10
NguyenVanA          2         NguyenVanA         CKM     9
NguyenVanB          3         NguyenVanB  Thoi Trang     8
NguyenVanA          4         NguyenVanA    Xay Dung     5
NguyenVanC          5         NguyenVanC        Dien     8
NguyenVanD          6         NguyenVanD         CKM     9
NguyenVanD          7         NguyenVanD    Xay Dung     6
NguyenVanE          8         NguyenVanE  Thoi Trang     6
NguyenVanG          9         NguyenVanG        Dien     9
NguyenVanH         10         NguyenVanH         CLC     9

In [ ]:
dataframe.drop(['MSSV','Khoa'],axis=1).head(10)

                   No          Ho va ten  Diem
Ho va ten
BuiTruongVinhPhuc   1  BuiTruongVinhPhuc    10
NguyenVanA          2         NguyenVanA     9
NguyenVanB          3         NguyenVanB     8
NguyenVanA          4         NguyenVanA     5
NguyenVanC          5         NguyenVanC     8
NguyenVanD          6         NguyenVanD     9
NguyenVanD          7         NguyenVanD     6
NguyenVanE          8         NguyenVanE     6
NguyenVanG          9         NguyenVanG     9
NguyenVanH         10         NguyenVanH     9

In [ ]:
# Xóa cộtcột
dataframe.drop(dataframe.columns[2:4], axis=1).head(10)

                   No      MSSV  Diem
Ho va ten
BuiTruongVinhPhuc   1  20146518    10
NguyenVanA          2  20146519     9
NguyenVanB          3  20146520     8
NguyenVanA          4  20146521     5
NguyenVanC          5  20146522     8
NguyenVanD          6  20146523     9
NguyenVanD          7  20146524     6
NguyenVanE          8  20146525     6
NguyenVanG          9  20146526     9
NguyenVanH         10  20146527     9

In [ ]:
dataframe[dataframe['Khoa']!= 'CKM'].head(10)

            No      MSSV   Ho va ten        Khoa  Diem
Ho va ten
NguyenVanB   3  20146520  NguyenVanB  Thoi Trang     8
NguyenVanA   4  20146521  NguyenVanA    Xay Dung     5
NguyenVanC   5  20146522  NguyenVanC        Dien     8
NguyenVanD   7  20146524  NguyenVanD    Xay Dung     6
NguyenVanE   8  20146525  NguyenVanE  Thoi Trang     6
NguyenVanG   9  20146526  NguyenVanG        Dien     9
NguyenVanH  10  20146527  NguyenVanH         CLC     9
NguyenVanP  11  21012348  NguyenVanP         CLC     8
NguyenVanP  12  21562829  NguyenVanP         CLC     6
NguyenVanP  13  21987373  NguyenVanP         CKD     8

In [ ]:
dataframe[dataframe['Diem']!= 5].head(10)

                   No      MSSV          Ho va ten        Khoa  Diem
Ho va ten
BuiTruongVinhPhuc   1  20146518  BuiTruongVinhPhuc         CKM    10
NguyenVanA          2  20146519         NguyenVanA         CKM     9
NguyenVanB          3  20146520         NguyenVanB  Thoi Trang     8
NguyenVanC          5  20146522         NguyenVanC        Dien     8
NguyenVanD          6  20146523         NguyenVanD         CKM     9
NguyenVanD          7  20146524         NguyenVanD    Xay Dung     6
NguyenVanE          8  20146525         NguyenVanE  Thoi Trang     6
NguyenVanG          9  20146526         NguyenVanG        Dien     9
NguyenVanH         10  20146527         NguyenVanH         CLC     9
NguyenVanP         11  21012348         NguyenVanP         CLC     8

In [ ]:
# Xóa hàng thứ 44
dataframe[dataframe.index!=4].head(10)

                   No      MSSV          Ho va ten        Khoa  Diem
Ho va ten
BuiTruongVinhPhuc   1  20146518  BuiTruongVinhPhuc         CKM    10
NguyenVanA          2  20146519         NguyenVanA         CKM     9
NguyenVanB          3  20146520         NguyenVanB  Thoi Trang     8
NguyenVanA          4  20146521         NguyenVanA    Xay Dung     5
NguyenVanC          5  20146522         NguyenVanC        Dien     8
NguyenVanD          6  20146523         NguyenVanD         CKM     9
NguyenVanD          7  20146524         NguyenVanD    Xay Dung     6
NguyenVanE          8  20146525         NguyenVanE  Thoi Trang     6
NguyenVanG          9  20146526         NguyenVanG        Dien     9
NguyenVanH         10  20146527         NguyenVanH         CLC     9

In [ ]:
# Xóa những hàng trùng gtri với nhau
dataframe.drop_duplicates().head(10)

                   No      MSSV          Ho va ten        Khoa  Diem
Ho va ten
BuiTruongVinhPhuc   1  20146518  BuiTruongVinhPhuc         CKM    10
NguyenVanA          2  20146519         NguyenVanA         CKM     9
NguyenVanB          3  20146520         NguyenVanB  Thoi Trang     8
NguyenVanA          4  20146521         NguyenVanA    Xay Dung     5
NguyenVanC          5  20146522         NguyenVanC        Dien     8
NguyenVanD          6  20146523         NguyenVanD         CKM     9
NguyenVanD          7  20146524         NguyenVanD    Xay Dung     6
NguyenVanE          8  20146525         NguyenVanE  Thoi Trang     6
NguyenVanG          9  20146526         NguyenVanG        Dien     9
NguyenVanH         10  20146527         NguyenVanH         CLC     9

In [ ]:
# Nhóm lại 
dataframe.groupby('Khoa').count()

                 No  MSSV  Ho va ten  Diem
Khoa
CKD               2     2          2     2
CKM               3     3          3     3
CLC               3     3          3     3
CNTP va Hoa hoc   4     4          4     4
Dien              2     2          2     2
Thoi Trang        2     2          2     2
Xay Dung          2     2          2     2

In [ ]:
# Nhóm lại
dataframe.groupby(['Khoa','Diem']).count()

                      No  MSSV  Ho va ten
Khoa            Diem
CKD             8      1     1          1
                9      1     1          1
CKM             9      2     2          2
                10     1     1          1
CLC             6      1     1          1
                8      1     1          1
                9      1     1          1
CNTP va Hoa hoc 5      1     1          1
                7      2     2          2
                9      1     1          1
Dien            8      1     1          1
                9      1     1          1
Thoi Trang      6      1     1          1
                8      1     1          1
Xay Dung        5      1     1          1
                6      1     1          1

In [ ]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023', periods=100000, freq='30s') # Xác định thời gian với freq là tần số lấy mẫu
dataframe = pd.DataFrame(index= time_index)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()                                 # 2 tuần '2W' ; tháng 'M'

            Acess_Amount
2023-01-01         14223
2023-01-08        100974
2023-01-15        100597
2023-01-22        100568
2023-01-29        100443
2023-02-05         82608

In [66]:
# Tìm số huy chương của 1 nước
# Tìm số huy chương vàng theo môn thi cá nhânnhân
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [75]:
# Tìm số huy chương của USA
dulieu=data[(data['NOC']=='USA')]
print(' So luong huy chuong cua USA',dulieu['Medal'].count())

 So luong huy chuong cua USA 216

In [76]:
# Tim so huy chuong vang theo mon ca nha
import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
dulieu=data[(data['NOC'] =='USA')]
print("Số huy chương của USA:",dulieu['Medal'].count())
dulieu1=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn cá nhân:",dulieu['Event'].count())

Số huy chương của USA: 216
Số huy chương chương vàng theo môn cá nhân: 216